@media only screen and (max-widht: 600px) {
  .navbar {
    background-color: #ca4172;
    height: 80px;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .42);
    align-items: center;
  }
  .navbar .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #ca4172;
    height: 50vh;
    left: -1em;
    transform: translateY(-120%);
    transition: all 1.4s;
  }
  .menu .menu-toggle {
    transform: translate(0%);
  }

  .menu li {
    margin-top: 3em;
  }
  .navbar .menu-bar {
    display: block;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
  }
}
